                    <h3>At a glance </h3>
                                        <div class="span3" style="text-align:center; ">
                                            <br>
                                            <br>                                        
                                            <%= image_tag @weather["current_observation"]["icon_url"] %>
                                            <span><%= @weather['current_observation']['weather'] %></span>
                                            <h2><%= @weather['current_observation']['temp_c'] %>°C</h2>
                                            <%= @weather["location"]["city"] %>
                                           
                                        </div>
                                        <div class="span5 pull-right">
                                            <table class="table table-bordered table-hover pull-right" style="background-color: #fff;margin-top:-150px;">
                                                <tbody><tr>
                                                    <td>Temperature</td>
                                                    <td><%= @weather['current_observation']['temp_c'] %>°C&nbsp;/&nbsp;<%= @weather['current_observation']['temp_f'] %>°F</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Wind Speed</td>
                                                    <td><%= @weather['current_observation']['wind_mph']%>MPH&nbsp;/&nbsp;<%= @weather['current_observation']['wind_kph']%>KPH</td>
                                                </tr>
                                                <tr>
                                                    <td>Relative Humidity</td>
                                                    <td><%= @weather['current_observation']['relative_humidity']%></td>
                                                </tr>
                                                <tr>
                                                    <td>Pressure</td>
                                                    <td><%= @weather['current_observation']['pressure_mb']%>&nbsp;mbar</td>
                                                </tr>
                                               
                                                <tr>
                                                    <td>Dewpoint</td>
                                                    <td><%= @weather['current_observation']['dewpoint_c']%>°C&nbsp;/&nbsp;<%= @weather['current_observation']['dewpoint_f']%>°F</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Feels Like</td>
                                                    <td><%= @weather['current_observation']['feelslike_c']%>°C&nbsp;/&nbsp;<%= @weather['current_observation']['feelslike_c']%>°F</td>
                                                </tr>
                                               
                                                
                                                
                                            </tbody></table>
                                        </div>
                                        
                                    </div>