<h1>Overview</h1>

<table>
  <!-- <thead>
    <tr>
      <th></th>
      <th>Plant</th>
      <th>Message</th>
    </tr>
  </thead> -->

  <tbody>
    <% @todos.each_with_index do |todo, i| %>
      <tr style="background: #<%= 9 - i %><%= 0 + i %>0" class="<%= cycle('high', 'low')%>">
        <td><%= check_box_tag :_delete %></td>
        <td><%= todo.plant.name %></td>
        <td><%= todo.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

