<p id="notice"><%= notice %></p>

<p>
  <strong>Plant:</strong>
  <%= @todo.plant_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @todo.message %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
